<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carbon Scaler</title>
    <link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">
</head>
<body>
    <div class="container">
        <div class="top">
            <div class="title">
                <span class="first">There is <no>NO</no>,</span>
                <span class="second"><plan>PLAN</plan>et <b>B!</b></span>
                </div>

                <div class="info">
                    <span class="name">Carbon Scaler</span> helps you to map and track your carbon emissions.
                </div>

                <div class="btn-class">
                    <a href=form>
                     <button class="button">Calculate Your Monthly Carbon Emission</button>
                 </a>
                 </div>

        </div>
        <div class="bottom">

           <div class="heading">
           <h1> Sustainable development projects</h1>
           </div>

           <div class="project-container">
            <div class="project-box">
                <div class="logo">
                    <img src="{{url_for('static',filename='img/digitalGreen.jpg')}}" alt="Digital green">
                </div>
                <div class="title">
                    <small>Title</small>
                   <h1>Digital Green</h1>
                </div>
                <div class="view">
                   <a href="http://www.digitalgreen.org">
                    <button class="btn">View More </button>
                </a>
                </div>
               </div>
            <div class="project-box">
                <div class="logo">
                    <img src="{{url_for('static',filename='img/fourth.jpg')}}" alt="Digital green">
                </div>
                <div class="title">
                    <small>Title</small>
                   <h1>Fourth Partner Energy</h1>
                </div>
                <div class="view">
                   <a href="https://www.fourthpartner.co/">
                    <button class="btn">View More </button>
                </a>
                </div>
               </div>
            <div class="project-box">
                <div class="logo">
                    <img src="{{url_for('static',filename='img/trees.jpg')}}" alt="Digital green">
                </div>
                <div class="title">
                    <small>Title</small>
                   <h1>SayTrees</h1>
                </div>
                <div class="view">
                   <a href="https://saytrees.org/">
                    <button class="btn">View More </button>
                </a>
                </div>
               </div>
            <div class="project-box">
                <div class="logo">
                    <img src="{{url_for('static',filename='img/green.jpg')}}" alt="Digital green">
                </div>
                <div class="title">
                    <small>Title</small>
                   <h1>HelpUsGreen</h1>
                </div>
                <div class="view">
                   <a href="https://www.helpusgreen.com/">
                    <button class="btn">View More </button>
                </a>
                </div>
               </div>
            <div class="project-box">
                <div class="logo">
                    <img src="{{url_for('static',filename='img/jhatkaa.jpg')}}" alt="Digital green">
                </div>
                <div class="title">
                    <small>Title</small>
                   <h1>Jhatkaa</h1>
                </div>
                <div class="view">
                   <a href="https://jhatkaa.org/">
                    <button class="btn">View More </button>
                </a>
                </div>
               </div>
            <div class="project-box">
                <div class="logo">
                    <img src="{{url_for('static',filename='img/dd.jpg')}}" alt="Digital green">
                </div>
                <div class="title">
                    <small>Title</small>
                   <h1>D&D Ecotech</h1>
                </div>
                <div class="view">
                   <a href="https://dndecotech.com/">
                    <button class="btn">View More </button>
                </a>
                </div>
               </div>
            <div class="project-box">
                <div class="logo">
                    <img src="{{url_for('static',filename='img/ugly.jpg')}}" alt="Digital green">
                </div>
                <div class="title">
                    <small>Title</small>
                   <h1>The Ugly Indian</h1>
                </div>
                <div class="view">
                   <a href="https://www.facebook.com/theugl.yindian">
                    <button class="btn">View More </button>
                </a>
                </div>
               </div>
            <div class="project-box">
                <div class="logo">
                    <img src="{{url_for('static',filename='img/feeding.jpg')}}" alt="Digital green">
                </div>
                <div class="title">
                    <small>Title</small>
                   <h1>Feeding India</h1>
                </div>
                <div class="view">
                   <a href="https://www.feedingindia.org/">
                    <button class="btn">View More </button>
                </a>
                </div>
               </div>
            <div class="project-box">
                <div class="logo">
                    <img src="{{url_for('static',filename='img/living.jpg')}}" alt="Digital green">
                </div>
                <div class="title">
                    <small>Title</small>
                   <h1>The Living Greens</h1>
                </div>
                <div class="view">
                   <a href="https://thelivinggreens.com/">
                    <button class="btn">View More </button>
                </a>
                </div>
               </div>
           </div>
        </div>
    </div>
</body>
</html>